.nazwaklasy {
  color: rgb(76, 224, 76);
}

.wrapper {
  border: 1px solid black; display: flex; justify-content: space-around; align-items: center;

  &__title{
    font-weight: bold;
  }

  &__img {
    width: 100px; height: 100px; object-fit: contain;

    &--size {
      width: 100%; height: 100%
    }
  }
}
